.button{
  background-color: lightblue;
  color: black;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.button:hover {
  transform: scale(1.1);
  background-color: deepskyblue; 
}
.heading{
  margin: 10px;
 display: flex;
 align-items: center;
 justify-content: space-evenly;
}
.heading h2{
  color: blue;
}
.heading input{
  padding: 5px;
  width: 400px;
  background-color:  rgb(224, 239, 245);
  border: none;
  border-radius: 10px;
}
.heading button{
  padding: 5px;
  margin:0 5px;
  background-color:  rgb(224, 239, 245);
  color: blue;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
